<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Key Word Recording</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Key Word Recording</h1>
      </header>

      <section class="top-display">
	<div class="welcome-display">
          Greetings! We are asking for friends and family to help us in building an automatic key phrase detector that can detect the phrase &quot;help! help! help!&quot;.  We plan to use this detector in a device that will allow a person to contact a guardian or a caregiver by simply using voice command.
	</div>
	<div class="welcome-display">
	  For this purpose, the <a href="https://www.carenami.com">Carenami team</a>
	  is hoping to gather spoken words &quot;help!&quot; and &quot;help me&quot; from several hundred people
	  to create a simple speech command classifier.
	</div>
	<div class="welcome-display">
To make sure that we're able to use your voice recording for building a speech command classifier, we need to get your agreement formally. If you would like to participate in providing some samples, please review and confirm your agreement to the following:
	</div>
	<div class="legal"> 
Participant Agreement
Carenami LLC, located at 650 NW Willow Glen Place, Beaverton, Oregon 97006, for itself and its subsidiaries and affiliates (“Carenami”), and the other party identified below (“You”) agree as follows:
	</div>
	<div class="legal">
1.	By participating, this website will ask for permission to use your microphone and prompt you to speak single words which we will record (the “Study”). These words will appear on-screen, one after another, over the course of around five minutes, with short pauses in between. When the microphone is active, you’ll see an oscilloscope display showing a waveform reflecting the audio received. The Record button will turn red when a word is being recorded (each a “clip”). Clips will be displayed in the bottom half of the web page where you can review and delete any of them locally before submitting them to Carenami. Clips will only be sent to Google when you press the ‘Upload’ button, or the ‘OK’ button on the dialog that appears once you’ve completed all the requested words. At any point you can press the ‘Stop’ button to pause the recording process. Navigating away from this website will remove all local copies of the clips.
	</div>
	<div class="legal">
2.	Your participation is voluntary and you may choose to cease participation at any time. You will not be compensated for your participation. <b>If you choose to participate in this Study, you must be in a quiet room with no other voices and only speak the requested words. A closed room is a good place for this</b>. 
	</div>
	<div class="legal">
3.	By participating, you agree that Carenami may use the clips to develop and improve its products, and share the clips with others, including the general public, for example, as part of a public dataset to facilitate research. You understand that your voice alone or in combination with other information could identify you. You specifically waive and release any potential intellectual property right, right of publicity, or right of privacy claim against Carenami or others for use or sharing of your clips.	
	</div>
	<div class="legal">
4.	CARENAMI MAKES NO WARRANTY, EXPRESS OR IMPLIED, WITH RESPECT TO THE STUDY AND EXPRESSLY DISCLAIMS ANY WARRANTIES, EXPRESS OR IMPLIED. IN NO EVENT WILL EITHER PARTY BE LIABLE FOR ANY DAMAGES UNDER THIS RELEASE IN EXCESS OF $100. 
	</div>
	<div class="legal">
5.	This agreement does not create any agency or partnership relationship. This agreement is not assignable or transferable by you. This agreement is the parties’ entire agreement on this topic, superseding any prior or contemporaneous agreements. Any amendments must be in writing. Failure to enforce any of provisions of this agreement will not constitute a waiver. This agreement is governed by the laws of the State of Oregon.  The exclusive venue for any dispute relating to this agreement will be Washington County, Oregon.
	</div>
	<div class="legal">
By clicking ‘I Agree’ you confirm that you are at least eighteen years of age, you understand the points above, and consent to the collection, use, and sharing of the Clips.
	</div>
      </section>

      <section class="main-controls">
        <div id="buttons">
          <a href="/start" class="continue-link">
	    <button class="continue">I Agree</button>
	  </a>
        </div>
      </section>

    </div>

    <footer>
      <p>For questions and comments, please contact hello@carenami.com</p>   <a href="https://github.com/petewarden/open-speech-recording"> Thank you to Pete Warden for the Open Speech Recording application that we are using </a>
      <a href="/legal">Participant Agreement</a>
    </footer>

  </body>
</html>
